#!/bin/bash

export LINUXMUSTER_MAILCOW_LDAP_URI="ldap://10.9.0.1"
export LINUXMUSTER_MAILCOW_LDAP_BASE_DN=DC=linuxmuster,DC=lan
export LINUXMUSTER_MAILCOW_LDAP_BIND_DN=CN=global-binduser,OU=Management,OU=GLOBAL,DC=linuxmuster,DC=lan
export LINUXMUSTER_MAILCOW_LDAP_BIND_DN_PASSWORD=SomeSuperSafePassword
export LINUXMUSTER_MAILCOW_API_HOST=http://10.9.0.2
export LINUXMUSTER_MAILCOW_API_KEY=SomeApiKey
export LINUXMUSTER_MAILCOW_SYNC_INTERVAL=300
export LINUXMUSTER_MAILCOW_DOCKERAPI_HOST="https://10.9.0.2:1234"

python3 syncer.py